html,body 
{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
   background-image: url(../images/image1.png);
   min-height: 100%;
  

   /* position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat; */
}

.pimg2 {
    background-image: url(../images/image2.png);
    min-height: 400px;
 
}
.pimg3 {
    background-image: url(../images/image3.png);
    min-height: 400px;
 
}
/* Apply same properties  to all images */
.pimg1, 
.pimg2, 
.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/* postion center ptext on small screens */
@media (max-width: 620px){
    .ptext {
        font-size: 20px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        
    }
}

.textBg {
    background: rgb(14, 11, 11);
    color: aliceblue;
    padding: 30px;
  
}

.section {
    padding: 50px 100px;
    text-align: center;
  
}
.section-light {
    background-color: aquamarine;
    color: #666;
}

.section-dark {
    background-color: rgb(68, 70, 69);
    color: rgb(199, 199, 199);
}
footer  {
    background: black;
    margin-top: 0;
}
footer p {
    display: flex;
    justify-content: center;
    color: white;
    padding: 25px;
    margin-top: 0;
    font-size: 0.9em;
    background: transparent;
}
.section, .section-heading {
    padding: 10px;
   
}
.section-heading {
    font-size: 35px;
    font-style: italic;
    margin-bottom: 5px;
    word-spacing: 10px;
     padding: 5px;
     justify-content: center;
     text-align: center;
     
}


  .social-media {
    /* background-color: #838383; */
	text-align: center;
	padding: 5px 0;
    font-size: 20px;
    
   
  }
  .fa {
    color: #666;
    justify-content: space-around;
    padding: 20px;
    
  }